body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

#skills, #projects, #contact {
    margin: 20px;
    padding: 20px;
}

.project {
    margin-bottom: 20px;
}

.project img {
    width: 100%;
    height: auto;
}

.project h3 {
    margin: 5px 0;
}
